@* This file is copyright © 2022 Dnj.Colab repository authors.

Dnj.Colab content is distributed as free software: you can redistribute it and/or modify it under the terms of the General Public License version 3 as published by the Free Software Foundation, either version 3 of the License, or (at your option) any later version.

Dnj.Colab content is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the General Public License version 3 for more details.

You should have received a copy of the General Public License version 3 along with this repository. If not, see <https://github.com/smaicas-org/Dnj.Colab/blob/dev/LICENSE>. *@

@page "/textGen"
@using Dnj.Colab.Samples.Markov.Services
@inject IMarkovChainTextGenService Markov
@namespace Dnj.Net.Razor.Components

<div class="container">
    <div class="content row p-4">@GeneratedString</div>
    <div class="content row p-4">
        <div class="col-12">
            @*<textarea id="trainText" class="w-100" placeholder="Entrena" @bind="TrainText"></textarea>*@
            <InputFile OnChange="@LoadFiles" multiple/>
        </div>
        <hr/>
        @if (!isLoading)
        {
            <div class="col-12">
                <input type="button" class="btn btn-outline-success" @onclick="GenerateText" value="Generate Text"/>
            </div>
        }
        else
        {
            <Loading></Loading>
        }
        <div class="text-danger">
            @ErrorMessage
        </div>
    </div>
</div>


@code {
    private string GeneratedString { get; set; } = string.Empty;
    private string TrainText { get; set; } = string.Empty;
    private bool isLoading;
    private readonly List<IBrowserFile> loadedFiles = new();
        private const int maxAllowedFiles = 3;
        private const long maxFileSize = 1024 * 3000;
    private string ErrorMessage { get; set; }

    private async Task GenerateText()
    {
        GeneratedString = await Markov.GenerateText(200);
    }

    private async Task LoadFiles(InputFileChangeEventArgs e)
    {
        isLoading = true;
        StateHasChanged();
        loadedFiles.Clear();

        foreach (IBrowserFile file in e.GetMultipleFiles(maxAllowedFiles))
        {
            try
            {
                loadedFiles.Add(file);
                var trustedFileNameForFileStorage = Path.GetRandomFileName();
                var path = Path.Combine("./unsafe_uploads",
                    trustedFileNameForFileStorage);

                await using FileStream fs = new(path, FileMode.Create);
                await file.OpenReadStream(maxFileSize).CopyToAsync(fs);
    //StreamReader reader = new StreamReader(fs);
    //string muchoTexto = reader.ReadToEnd();
                await Markov.TrainAsync(fs);
            }
            catch (Exception ex)
            {
                ErrorMessage = ex.Message;
                StateHasChanged();
            }
        }

        isLoading = false;
    }

}